server {
	listen 0.0.0.0:80;
	server_name aptly.gitlab.com;
	root /opt/aptly/public;
	location / {
		autoindex off;
	}

	location /api/ {
		rewrite ^/(.*)$ https://$server_name$request_uri permanent;
	}
}
server {
	server_name			aptly.gitlab.com;
	ssl				on;
	listen				0.0.0.0:443 ssl http2;
	ssl_certificate			<%= node['aptly']['tls']['ssl_cert']['path'] %>;
	ssl_certificate_key		<%= node['aptly']['tls']['ssl_key']['path'] %>;
	ssl_protocols			TLSv1.2;
	ssl_ciphers			'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
	ssl_prefer_server_ciphers	on;
	root				/nonexistent;
	location			~ /\.ht {
		deny all;
	}
	### protect /api with basic auth for now
	location /api/ {
		client_max_body_size	100M;
		auth_basic		"Restricted";
		auth_basic_user_file	<%= node['aptly']['basic_auth']['path'] %>;
		proxy_redirect		off;
		proxy_pass		http://127.0.0.1:8000/api/;
		proxy_redirect		http://127.0.0.1:8000/api/ /api;
		proxy_set_header	X-Real-IP $remote_addr;
		proxy_set_header	X-Forwarded-For $remote_addr;
		proxy_set_header	X-Forwarded-Proto $scheme;
		proxy_set_header	Host $http_host;
		proxy_set_header	Origin "";
	}
	### end of api protection
}

